.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  gap: 0 40px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.introducao-bg {
  background-color: #000;
  box-shadow: inset 0 -150px #fff;
}
.introducao-info {
  align-self: end;
  padding-bottom: 250px;
}
.introducao-info h1 {
  margin-bottom: 30px;
}
.introducao-info h1 span {
  color: #ffbb00;
}
.introducao-info p {
  margin-bottom: 20px;
}
.introducao-img {
  height: 100%;
}
.introducao-img img {
  object-fit: cover;
  height: 100%;
}
@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr;
  }
  .introducao-info {
    padding-top: 40px;
    padding-bottom: 30px;
  }
  .introducao-bg {
    background: var(--co-11);
  }
  .introducao-info h1 {
    margin-bottom: 20px;
  }
  .introducao-info p {
    margin-bottom: 10px;
  }
}
