.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  box-sizing: border-box;
}
.menu-bg {
  background-color: #000;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.header-menu a {
  padding: 16px 0;
  display: inline-block;
  position: relative;
}
.header-menu a::after {
  content: "";
  display: block;
  background: #fff;
  height: 2px;
  margin-top: 4px;
  width: 0;
  position: absolute;
}
.header-menu a:hover::after {
  width: 100%;
  transition: 0.3s;
}
@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background-color: var(--co-11);
    border-radius: 4px;
    padding: 12px 16px;
  }
  .header-menu a::after {
    display: none;
  }
  .header-menu a:hover {
    background: var(--co-10);
  }
}
@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    font-size: 1rem;
    padding: 8px 10px;
  }
}
